<p id="notice"><%= notice %></p>

<p>
  <strong>Situation:</strong>
  <%= @bike.situation %>
</p>

<p>
  <strong>Active:</strong>
  <%= @bike.active %>
</p>

<%= link_to 'Edit', edit_bike_path(@bike) %> |
<%= link_to 'Back', bikes_path %>
