
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="card-form">
    <div class="row no-gutters">
      <div class="col-lg-4 card-body">

      <span class="navbar-brand-icon" style="width: 3px">

        <svg xmlns="http://www.w3.org/2000/svg" id="logo_auth" viewBox="0 0 512 512">
        <g style="fill: #438eb9;"><path d="m457 0h-402c-30.327 0-55 24.673-55 55v402c0 30.327 24.673 55 55 55h402c30.327 0 55-24.673 55-55v-402c0-30.327-24.673-55-55-55zm25 457c0 13.785-11.215 25-25 25h-402c-13.785 0-25-11.215-25-25v-402c0-13.785 11.215-25 25-25h402c13.785 0 25 11.215 25 25z"/><path d="m376 241c-4.931 0-9.748.492-14.415 1.405l-20.585-49.404v-32.001h35c8.284 0 15-6.716 15-15s-6.716-15-15-15h-50c-8.284 0-15 6.716-15 15v35h-105.73l-10-20h10.73c8.284 0 15-6.716 15-15s-6.716-15-15-15h-60c-8.284 0-15 6.716-15 15s6.716 15 15 15h15.73l17.5 35-23.786 47.571c-6.205-1.668-12.72-2.571-19.444-2.571-41.355 0-75 33.645-75 75s33.645 75 75 75c36.22 0 66.522-25.808 73.491-60h46.42c.025 0 .051.002.076.002 5.16 0 10.183-2.666 12.971-7.444l54.8-93.943 10.146 24.349c-19.845 13.508-32.904 36.274-32.904 62.036 0 41.355 33.645 75 75 75s75-33.645 75-75-33.645-75-75-75zm-76.116-30-42.869 73.49-36.745-73.49zm-103.884 18.54 35.73 71.46h-22.239c-3.612-17.725-13.507-33.18-27.235-43.972zm-27.626 55.252c4.418 4.581 7.876 10.09 10.046 16.208h-18.15zm-32.374 76.208c-24.813 0-45-20.187-45-45s20.187-45 45-45c1.881 0 3.731.13 5.552.355l-18.969 37.937c-3.705 7.41-.702 16.419 6.708 20.125 2.153 1.077 4.442 1.587 6.696 1.587.033 0 .066-.003.099-.003h42.332c-6.19 17.458-22.863 29.999-42.418 29.999zm240 0c-24.813 0-45-20.187-45-45 0-13.223 5.735-25.131 14.846-33.371l16.309 39.14c2.4 5.762 7.977 9.235 13.852 9.235 1.923 0 3.878-.372 5.764-1.158 7.646-3.187 11.263-11.968 8.076-19.615l-16.317-39.16c.819-.045 1.642-.071 2.471-.071 24.813 0 45 20.187 45 45s-20.188 45-45.001 45z"/></g></svg>
      </span>

        <p>
          <strong class="headings-color">
            <%= I18n.t('auth.messages.wellcome_to_lendbike') %>
          </strong>
        </p>

        <p class="text-muted">
          <%= I18n.t('auth.messages.without_sign_up') %>
        </p>
      </div>

      <div class="col-lg-8 card-form__body card-body">
        <form>
          <div class="form-group">
            <label><%= I18n.t('auth.form.your_email') %>:</label>

            <%= f.email_field :email,
              autofocus: true,
              autocomplete: "email",
              class: "form-control", 
              placeholder: I18n.t('auth.attributes.email') %>

          </div>

          <div class="form-group">
            <label><%= I18n.t('auth.form.your_password') %>:</label>

            <%= f.password_field :password, 
              autocomplete: "current-password",
              class: "form-control",
              placeholder: I18n.t('auth.attributes.password') %>

          </div>

          <%= f.submit I18n.t('button.log_in'), class: "btn btn-primary mb-3" %>
        </form>
      </div>
    </div>
  </div>
<% end %>
